<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:tiles="http://www.thymeleaf.org"
	  class="no-js">

<head>
</head>

<body>
<!--[if lt IE 8]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
	your browser</a> to improve your experience.</p>
<![endif]-->


<div tiles:fragment="content">
	<div class="row">
		<div class="col-xs-12 col-md-6 col-md-offset-3 col-xs-offset-0 mt30">
			<div class="text-center mb30">
				<img src="../../../assets/img/logo.png" alt="logo" th:src="@{/resources/assets/img/logo.png}"/>
			</div>
			<div class="row" th:if="${param.errors}">
				<div class="col-xs-12">
					<div class="alert alert-danger alert-border-left">
						<button type="button" class="close" data-dismiss="alert" aria-hidden="true">x</button>
						<strong>Error: </strong>
						<span th:text="#{user.bad.credentials}"></span>
					</div>
				</div>
			</div>
			<div class="row" th:if="${message}">
				<div class="col-xs-12">
					<div class="alert alert-success alert-border-left">
						<button type="button" class="close" data-dismiss="alert" aria-hidden="true">x</button>
						<span th:text="${message}"></span>
					</div>
				</div>
			</div>
			<form th:action="@{/j_spring_security_check}" id="login" method="post" autocomplete="off" class="form-horizontal">

				<div class="form-group"> 
					<label for="username" class="col-xs-3 control-label" th:text="#{user.email}">Username</label>

					<div class="col-xs-9">
						<div class="input-group">
							<span class="input-group-addon" id="basic-addon1"><i class="fa fa-user"></i></span>
							<input name="j_username" id="username" class="form-control" maxlength="50" type="text"
								   aria-describedby="basic-addon1"/>
						</div>
					</div>
				</div>

				<div class="form-group">
					<label for="password" class="col-xs-3 control-label" th:text="#{user.password}">Password</label>

					<div class="col-xs-9">
						<div class="input-group">
							<span class="input-group-addon" id="basic-addon2"><i class="fa fa-key"></i></span>
							<input name="j_password" id="password" class="form-control" maxlength="25" type="password"
								   aria-describedby="basic-addon2"/>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="col-xs-offset-3 col-xs-9">
						<div class="checkbox-custom checkbox-primary mb5">
							<input type="checkbox" name="_spring_security_remember_me" id="remember_me"/>
							<label for="remember_me" th:text="#{user.rememberme}">Remember me</label>
						</div>
					</div>
				</div>

				<div class="form-group">
					<div class="col-xs-offset-3 col-xs-9">
						<input class="btn btn-primary" value="Login" type="submit"/><a href="" th:href="@{/register}" class="btn btn-primary"><span th:text="#{user.register}">Register</span></a>
					</div>
				</div>
				<p>&nbsp;</p>
			</form>
		</div>
	</div>
</div>
</body>

</html>
